<h2><%= image_tag("episode.svg", :alt => "Episode", :height => 32) %> <%= @episode.castaway.name %> - <%= @episode.episode_date %></h2>




<table class = "table table-striped table-sm">
  <tr>
    <th>Order</th>
    <th>Disc</th>
    <th>Artist</th>
    <th>Chosen by # other guests</th>
    <th>Fav?</th>
  </tr>
<% @choices.order(order: :asc).each do |choice| %>
<tr>
  <td><%= image_tag("disc.svg", :alt => "Disc", :height => 16) %> <%= choice.order %></td>
  <td><%= link_to choice.disc.name, choice.disc %></td>
  <td><%= link_to choice.disc.artist.name, choice.disc.artist %></td>
  <td><%= choice.disc.appearances - 1%></td>
  <td><%= choice.favourite %></td>
</tr>
<% end %>
</table>

<p>Book: <%= image_tag("book.svg", :alt => "Book", :height => 16) %> <%= @episode.book_name %></p>
<p>Luxury: <%= image_tag("luxury.svg", :alt => "Luxury", :height => 16) %>  <%= @episode.luxury_name %></p>
<p>Bible? <%= @episode.bible %></p>
<p><%= link_to "BBC Page", @episode.url %>
<% if  @episode.wikipedia_url != ""%>
<p><%= link_to "Wikipedia Page", "http://en.wikipedia.org" + @episode.wikipedia_url.to_s %>
<% end %>

<% @episode.castaway.wiki_categories.each do |wiki_category| %>
  <p><%= link_to wiki_category.name, wiki_category %></p>
  <%end%>
