
<div class="row sea2">
  <p>Over <%=  number_with_delimiter(@castaways_count) %> castaways have been marooned on the BBC's desert island since <%= @start_date %>. But what records have they picked?</p>
  <p>Between them, they've picked <%=  number_with_delimiter(@records_count) %> discs by <%=  number_with_delimiter(@artists_count) %> artists.</p>
</div>

<div class="row beach1">
  <% decades.values.each do |decade| %>
    <div class="col">
      <%= link_to decade, "?decade=#{decade}" %>
    </div>
  <% end %>
</div>

<div class="row beach2">
  <div class="col"><h2>
    <% if @current_decade != nil %>
      The <%= @current_decade %>
    <% else%>
      All-time
    <% end %>
    <%= @classical_count %> / <%= @non_classical_count %>
  </h2></div>
</div>

<div class="row">
  <div class="col">
    <h3><%= image_tag("artist.svg", :alt => "Artist", :height => 32) %> Top 10 <%= link_to "Artists", artists_path %></h3>
  </div>
  <div class="col">
    <h3><%= image_tag("disc.svg", :alt => "Disc", :height => 32) %> Top 10 <%= link_to "Discs", discs_path %></h3>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class = "table table-striped table-sm">
      <% @artists.each do |artist| %>


        <tr class="bar" data-background=<%= artist["appearances"].to_f/@artists[0]["appearances"].to_f %> >

          <td class="left"><span class="offset"><%= image_tag("artist.svg", :alt => "Artist", :height => 16) %> <%= link_to artist["name"], "/artists/" + artist["slug"] %></span></td>
          <td class="right"><%= artist["appearances"] %></td>

        </tr>

      <% end %>
    </table>
  </div>

  <div class="col">
    <table class = "table table-striped table-sm">
      <% @discs.each do |disc| %>
      <tr class="bar" data-background=<%= disc["appearances"].to_f/@discs[0]["appearances"].to_f %> >
        <td class="left"><%= image_tag("disc.svg", :alt => "Disc", :height => 16) %> <%= disc["artist"] %> - <%= link_to disc["name"], "/discs/" + disc["slug"] %></td>

        <td class="right"><%= disc["appearances"] %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
<% if @books.count != 0 %>
  <div class="row">
    <div class="col">
      <h3><%= image_tag("book.svg", :alt => "Book", :height => 32) %>  Top 10 <%= link_to "Books", books_path %></h3>
    </div>
    <div class="col">
      <h3><%= image_tag("luxury.svg", :alt => "Luxury", :height => 32) %>  Top 10 <%= link_to "Luxuries", luxuries_path %></h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class = "table table-striped table-sm">
        <% @books.each do |book| %>
          <tr class="bar" data-background=<%= book["appearances"].to_f/@books[0]["appearances"].to_f %> >
            <td class="left"><%= image_tag("book.svg", :alt => "Book", :height => 16) %> <%= link_to book["name"], "/books/" + book["slug"] %></td>
            <td class="right"><%= book["appearances"] %></td>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="col">
      <table class = "table table-striped table-sm">
        <% @luxuries.each do |luxury| %>
        <tr class="bar" data-background=<%= (luxury["appearances"].to_f/@luxuries[0]["appearances"].to_f) %>>
          <td class="left"><%= image_tag("luxury.svg", :alt => "Luxury", :height => 16) %> <%= link_to luxury["name"], "/luxuries/" + luxury["slug"].to_s %></td>
          <td class="right"><%= luxury["appearances"] %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
<% end %>
