<div class ="row sea2"><h2><%= @wiki_category.name %></h2>
</div>

<div class="row beach1">
  <% decades.values.each do |decade| %>
    <div class="col">
      <%= link_to decade, "?decade=#{decade}" %>
    </div>
  <% end %>
</div>



<div class ="row">
<div class ="col">
<h3><%= image_tag("artist.svg", :alt => "Artist", :height => 32) %> Top Artists</h3>
<table class = "table table-striped table-sm">
  <tr>
    <th class="left">Title</th>
    <th class="right">Times Chosen</th>
  </tr>
<% @artists.each do |artist| %>
<tr>
  <td class="left"><%= image_tag("artist.svg", :alt => "Artist", :height => 16) %> <%= link_to artist.name, artist %></td>
  <td class="right"><%= artist.count %></td>
</tr>
<% end %>
</table>

<h3><%= image_tag("disc.svg", :alt => "Disc", :height => 32) %> Top Discs</h3>
<table class = "table table-striped table-sm">
  <tr>
    <th class="left">Title</th>
    <th class="right">Times Chosen</th>
  </tr>
<% @discs.each do |disc| %>
<tr>
  <td class="left"><%= image_tag("disc.svg", :alt => "Disc", :height => 16) %> <%= link_to disc.name, disc %></td>
  <td class="right"><%= disc.count %></td>
</tr>
<% end %>
</table>
<h3><%= image_tag("book.svg", :alt => "Book", :height => 32) %> Top Books</h3>
<table class = "table table-striped table-sm">
  <tr>
    <th class="right">Title</th>
    <th class="right">Times Chosen</th>
  </tr>
<% @books.each do |book| %>
<tr>
  <td class="left"><%= image_tag("book.svg", :alt => "Book", :height => 16) %> <%= link_to book.name, book %></td>
  <td class="right"><%= book.count %></td>
</tr>
<% end %>
</table>
</div>

<div class ="col">
  <h3>Appearances</h3>
  <table class = "table table-striped table-sm">
    <tr>
      <th class="left">Guest</th>
      <th class="right">Appearance Date</th>
    </tr>
  <% @episodes.each do |episode| %>
  <tr>
    <td class="left"><%= image_tag("episode.svg", :alt => "Episode", :height => 16) %> <%= link_to episode.castaway.name, episode %></td>
    <td class="right"><%= episode.episode_date %></td>
  </tr>
  <% end %>
  </table>

</div>
</div>
