<!DOCTYPE html>
<html>
  <head>
    <title>Islanders</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container-fluid">


      <div class="row sea1"><h1><%= image_tag("island.svg", :alt => "Island", :height => 40) %> <%= link_to "Islanders", root_path %></h1>
</div>
    <%= yield %>


    <div class="row"><p>Islanders is an <a href="http://www.twitter.com/edjeff">@edjeff</a> thing.</p></div>
  </body>
</html>
